 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8a167;
  border-radius: 20px;
  padding: 40px;
  width: 60%;
  max-width: 500px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
  0 2px 2px rgba(0,0,0,0.1), 
  0 4px 4px rgba(0,0,0,0.1), 
  0 8px 8px rgba(0,0,0,0.1),
  0 16px 16px rgba(0,0,0,0.1);
}
#image-wrapper {
  width: 300px;
}
#image {
  width: 100%;
}
#header {
  padding: 20px;
  display: flex;
  font-size: 30px;
}
#number {
  margin-right: 15px;
}
#name {
  text-transform: capitalize;
}
#button {
  background-color: #ff7a22;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#button:hover {
  transform: translateY(-2px);
  background-color: #ff8839;
}
#button:active {
  transform: translateY(2px);
  background-color: #ff7a22;
} 